.input-readonly{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: 16px;
}

.card-input {
    padding: 10px;
    border: 1px solid #ccc;
}

.disable{
	pointer-events:none;
	opacity: 0.4;
}

nav.main-header.main-header-seminar.navbar.navbar-expand.navbar-lightgray.navbar-light {
    margin-left: 0px;
}

footer.main-footer {
    margin-left: 0px !important;
    margin-top: 20px;
}

.input-group-prepend.bg-primary.input-label {
    min-width: 160px;
}

.nav-hr-border{
	height: 1px; 
	color: #333; 
	background-color: #333;
}

.account-hr-border{
	height: 1px; 
	color: #0004FD; 
	background-color: #0004FD;
}

.page-hr-border{
	height: 2px; 
	color:#0004FD; 
	background-color:#0004FD;
}

label.page-title {
    margin-bottom: 20px;
}

label.page-row-title {
    margin-bottom: 20px;
	margin-top: 20px;
}

.bg-primary {
    background-color: #0004FD!important;
}
.btn-primary {
    color: #fff !important;
    background-color: #0004FD !important;
    border-color: #0004FD !important;
    box-shadow: none;
}

.btn-outline-primary {
    color: #0004FD !important;
    border-color: #0004FD !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #0004FD !important;
    border-color: #0004FD !important;
}

.text-primary{
	color: #0004FD !important;
}
.invalid-feedback{
	text-align: right;
}

.border-primary {
    border-color: #0004FD!important;
}

.card.seminar-card.border-primary {
    border: 2px solid;
    border-radius: 15px;
}